
<li>
  <a href="#btn">按钮</a>
  <ul class="nav">
    <li><a href="#btn-size">不同型号</a></li>
    <li><a href="#btn-radius">圆角</a></li>
	<li><a href="#btn-style1">风格1</a></li>
	<li><a href="#btn-style2">风格2</a></li>
  </ul>
</li>
<li>
  <a href="#input">输入框</a>
  <ul class="nav">
    <li><a href="#input-size">不同型号</a></li>
    <li><a href="#input-add">加后缀文字</a></li>
	<li><a href="#input-radius">圆角输入框</a></li>
  </ul>
</li>
<li>
  <a href="#textarea">文本域</a>
</li>
<li>
  <a href="#progressbar">进度条</a>
  <ul class="nav">
    <li><a href="#progressbar-basic">基本实例</a></li>
    <li><a href="#progressbar-tag">带提示的进度条</a></li>
	<li><a href="#progressbar-case">根据情境变化效果</a></li>
  </ul>
</li>
<li>
  <a href="#panels">面板</a>
  <ul class="nav">
    <li><a href="#panels-basic">基本使用</a></li>
    <li><a href="#panels-heading">带头的面板</a></li>
    <li><a href="#panels-alternatives">Contextual alternatives</a></li>
    <li><a href="#panels-tables">填充表格的</a></li>
    <li><a href="#panels-list-group">填充list的</a></li>
  </ul>
</li>
