
<li>
  <a href="#btn">按钮</a>
  <ul class="nav">
    <li><a href="#btn-size">不同型号</a></li>
    <li><a href="#btn-radius">圆角</a></li>
	<li><a href="#btn-style1">风格1</a></li>
	<li><a href="#btn-style2">风格2</a></li>
  </ul>
</li>
<li>
  <a href="#panels">面板</a>
  <ul class="nav">
    <li><a href="#panels-basic">基本使用</a></li>
    <li><a href="#panels-heading">带头的面板</a></li>
    <li><a href="#panels-alternatives">Contextual alternatives</a></li>
    <li><a href="#panels-tables">填充表格的</a></li>
    <li><a href="#panels-list-group">填充list的</a></li>
  </ul>
</li>
