<li>
  <a href="#pagination">分页</a>
  <ul class="nav">
    <li><a href="#pagination-default">默认设置</a></li>
    <li><a href="#pagination-pager">前后按钮</a></li>
  </ul>
</li>
<li>
  <a href="#progress">进度条</a>
  <ul class="nav">
    <li><a href="#progress-basic">基本示例</a></li>
    <li><a href="#progress-label">带文字的</a></li>
    <li><a href="#progress-low-percentages">最小比</a></li>
    <li><a href="#progress-alternatives">Contextual alternatives</a></li>
    <li><a href="#progress-striped">Striped</a></li>
    <li><a href="#progress-animated">Animated</a></li>
    <li><a href="#progress-stacked">Stacked</a></li>
  </ul>
</li>
<li>
  <a href="#panels">面板</a>
  <ul class="nav">
    <li><a href="#panels-basic">基本使用</a></li>
    <li><a href="#panels-heading">带头的面板</a></li>
    <li><a href="#panels-alternatives">Contextual alternatives</a></li>
    <li><a href="#panels-tables">填充表格的</a></li>
    <li><a href="#panels-list-group">填充list的</a></li>
  </ul>
</li>
