<li>
  <a href="#poplayer">弹出层</a>
  <ul class="nav">
    <li><a href="#poplayer-intro">示例</a></li>
    <li><a href="#poplayer-param">参数</a></li>
    <li><a href="#poplayer-method">方法</a></li>
    <li><a href="#poplayer-event">事件</a></li>
  </ul>
</li>
<li>
  <a href="#ieCheck">IE版本提示</a>
</li>
<li>
  <a href="#tipped">自定义Tip组件</a>
  <ul class="nav">
    <li><a href="#tipped-intro">示例</a></li>
    <li><a href="#tipped-param">参数</a></li>
    <li><a href="#tipped-method">方法</a></li>
  
  </ul>
</li>
<li>
  <a href="#plupload">上传控件</a>
  <ul class="nav">
    <li><a href="#load-intro">注意</a></li>
    <li><a href="#load-method">使用方法</a></li>
    <li><a href="#load-add">页面添加</a></li>
    <li><a href="#load-js">JS添加</a></li>
  </ul> 
</li>