<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ site.baseurl }}/" class="navbar-brand">FireWork</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li{% if page.slug == "getting-started" %} class="active"{% endif %}>
          <a href="{{ site.baseurl }}/getting-started">新手学习</a>
        </li>
        <li{% if page.slug == "global" %} class="active"{% endif %}>
          <a href="{{ site.baseurl }}/global">全局通用</a>
        </li>
        <li{% if page.slug == "components" %} class="active"{% endif %}>
          <a href="{{ site.baseurl }}/components">基本组件</a>
        </li>
        <li{% if page.slug == "js" %} class="active"{% endif %}>
          <a href="{{ site.baseurl }}/javascript">JavaScript插件</a>
        </li>
        <li{% if page.slug == "animate" %} class="active"{% endif %}>
          <a href="{{ site.baseurl }}/animate">动画效果</a>
        </li> 
		<li{% if page.slug == "charts" %} class="active"{% endif %}>
          <a href="{{ site.baseurl }}/charts">图表库</a>
        </li>
        <li{% if page.slug == "funcode" %} class="active"{% endif %}>
          <a href="{{ site.baseurl }}/funcode">代码片段</a>
        </li>
        <li{% if page.slug == "share" %} class="active"{% endif %}>
          <a href="{{ site.baseurl }}/share">知识分享</a>
        </li>
        <li{% if page.slug == "development" %} class="active"{% endif %}>
          <a href="{{ site.baseurl }}/development">文档规范</a>
        </li>
        <li{% if page.slug == "customize" %} class="active"{% endif %}>
          <a href="{{ site.baseurl }}/customize">定制</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://www.layoutit.com/build" target="_blank">App构建</a></li>
        <li><a href="mailto:qdfrontend@gmail.com?subject=FireWork相关">联系我们</a></li>
      </ul>
    </nav>
  </div>
</header>