<!-- poplayer begin-->
<script src="{{ site.baseurl }}/widgets/poplayer.js"></script>
<script src="{{ site.baseurl }}/widgets/poplayer-demo.js"></script>

<!-- poplayer end-->

<!--[if lt IE 9]>
  <script type="text/javascript" src="{{ site.baseurl }}/widgets/tipped/excanvas.js"></script>
<![endif]-->
<script type="text/javascript" src="{{ site.baseurl }}/widgets/tipped/spinners.min.js"></script> <!-- optional -->
<script type="text/javascript" src="{{ site.baseurl }}/widgets/tipped/tipped.js"></script>
<!--tiped-demo-->
<script type="text/javascript" src="{{ site.baseurl }}/widgets/tipped/tipped-demo.js"></script>