
<h1 id="usegithub"><center>使用GitHub</center></h1>
<h2>1.注册GitHub账号</h2>
<p>&#160; &#160; &#160; &#160;登录<a href="https://github.com/">https://github.com/</a>,注册一个账号，并登录完成</p>
<h2>2.下载GitHub for windows工具</h2>
<p>&#160; &#160; &#160; &#160;win7 64位系统会遇到安装问题</p>
<p>&#160; &#160; &#160; &#160;请使用<font style="color:red">IE浏览器</font>打开链接<a href="http://github-windows.s3.amazonaws.com/GitHub.application">http://github-windows.s3.amazonaws.com/GitHub.application</a></p>
<p>&#160; &#160; &#160; &#160;安装完成，后使用刚注册的GitHub账号登录</p>
<h2>3.使用GitHub for windows工具在本地导入项目</h2>
<p>&#160; &#160; &#160; &#160;重启浏览器，访问<a href="https://github.com/qdfrontend/firework">https://github.com/qdfrontend/firework</a></p>
<p><img src="{{site.baseurl}}/images/GitHub1.png" /></p>
<p>&#160; &#160; &#160; &#160;完成!</p>


