<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/animate.min.css" />
<style>
#demo{
	width: 100px;
	height: 100px;
	border: 1px solid #B85B5B;
	text-align: center;
	line-height: 100px;
}
#site__title{
	color: #f35626;
	background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 60s infinite linear;
}
</style>
<div id="demo" class="animated ">
	<span  class="site__title ">Animate</span>
</div>
<div>
	<div label="Attention Seekers">
	  <a class="btn" value="bounce">bounce</a>
	  <a class="btn" value="flash">flash</a>
	  <a class="btn" value="pulse">pulse</a>
	  <a class="btn" value="rubberBand">rubberBand</a>
	  <a class="btn" value="shake">shake</a>
	  <a class="btn" value="swing">swing</a>
	  <a class="btn" value="tada">tada</a>
	  <a class="btn" value="wobble">wobble</a>
	</div>

	<div label="Bouncing Entrances">
	  <a class="btn" value="bounceIn">bounceIn</a>
	  <a class="btn" value="bounceInDown">bounceInDown</a>
	  <a class="btn" value="bounceInLeft">bounceInLeft</a>
	  <a class="btn" value="bounceInRight">bounceInRight</a>
	  <a class="btn" value="bounceInUp">bounceInUp</a>
	</div>

	<div label="Bouncing Exits">
	  <a class="btn" value="bounceOut">bounceOut</a>
	  <a class="btn" value="bounceOutDown">bounceOutDown</a>
	  <a class="btn" value="bounceOutLeft">bounceOutLeft</a>
	  <a class="btn" value="bounceOutRight">bounceOutRight</a>
	  <a class="btn" value="bounceOutUp">bounceOutUp</a>
	</div>

	<div label="Fading Entrances">
	  <a class="btn" value="fadeIn">fadeIn</a>
	  <a class="btn" value="fadeInDown">fadeInDown</a>
	  <a class="btn" value="fadeInDownBig">fadeInDownBig</a>
	  <a class="btn" value="fadeInLeft">fadeInLeft</a>
	  <a class="btn" value="fadeInLeftBig">fadeInLeftBig</a>
	  <a class="btn" value="fadeInRight">fadeInRight</a>
	  <a class="btn" value="fadeInRightBig">fadeInRightBig</a>
	  <a class="btn" value="fadeInUp">fadeInUp</a>
	  <a class="btn" value="fadeInUpBig">fadeInUpBig</a>
	</div>

	<div label="Fading Exits">
	  <a class="btn" value="fadeOut">fadeOut</a>
	  <a class="btn" value="fadeOutDown">fadeOutDown</a>
	  <a class="btn" value="fadeOutDownBig">fadeOutDownBig</a>
	  <a class="btn" value="fadeOutLeft">fadeOutLeft</a>
	  <a class="btn" value="fadeOutLeftBig">fadeOutLeftBig</a>
	  <a class="btn" value="fadeOutRight">fadeOutRight</a>
	  <a class="btn" value="fadeOutRightBig">fadeOutRightBig</a>
	  <a class="btn" value="fadeOutUp">fadeOutUp</a>
	  <a class="btn" value="fadeOutUpBig">fadeOutUpBig</a>
	</div>

	<div label="Flippers">
	  <a class="btn" value="flip">flip</a>
	  <a class="btn" value="flipInX">flipInX</a>
	  <a class="btn" value="flipInY">flipInY</a>
	  <a class="btn" value="flipOutX">flipOutX</a>
	  <a class="btn" value="flipOutY">flipOutY</a>
	</div>

	<div label="Lightspeed">
	  <a class="btn" value="lightSpeedIn">lightSpeedIn</a>
	  <a class="btn" value="lightSpeedOut">lightSpeedOut</a>
	</div>

	<div label="Rotating Entrances">
	  <a class="btn" value="rotateIn">rotateIn</a>
	  <a class="btn" value="rotateInDownLeft">rotateInDownLeft</a>
	  <a class="btn" value="rotateInDownRight">rotateInDownRight</a>
	  <a class="btn" value="rotateInUpLeft">rotateInUpLeft</a>
	  <a class="btn" value="rotateInUpRight">rotateInUpRight</a>
	</div>

	<div label="Rotating Exits">
	  <a class="btn" value="rotateOut">rotateOut</a>
	  <a class="btn" value="rotateOutDownLeft">rotateOutDownLeft</a>
	  <a class="btn" value="rotateOutDownRight">rotateOutDownRight</a>
	  <a class="btn" value="rotateOutUpLeft">rotateOutUpLeft</a>
	  <a class="btn" value="rotateOutUpRight">rotateOutUpRight</a>
	</div>

	<div label="Specials">
	  <a class="btn" value="hinge">hinge</a>
	  <a class="btn" value="rollIn">rollIn</a>
	  <a class="btn" value="rollOut">rollOut</a>
	</div>

	<div label="Zoom Entrances">
	  <a class="btn" value="zoomIn">zoomIn</a>
	  <a class="btn" value="zoomInDown">zoomInDown</a>
	  <a class="btn" value="zoomInLeft">zoomInLeft</a>
	  <a class="btn" value="zoomInRight">zoomInRight</a>
	  <a class="btn" value="zoomInUp">zoomInUp</a>
	</div>

	<div label="Zoom Exits">
	  <a class="btn" value="zoomOut">zoomOut</a>
	  <a class="btn" value="zoomOutDown">zoomOutDown</a>
	  <a class="btn" value="zoomOutLeft">zoomOutLeft</a>
	  <a class="btn" value="zoomOutRight">zoomOutRight</a>
	  <a class="btn" value="zoomOutUp">zoomOutUp</a>
	</div>

</div>

<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script>

function testAnim(x) {
	var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
	$('#demo').removeClass().addClass("site__title").addClass(x + ' animated').one(animationEnd, function(){
		$(this).removeClass();
	});
};

$(document).on("click",".btn",function(event){
	event.preventDefault();
	var anim = $(this).attr("value");
	testAnim(anim);
});

</script>