/* RESET */





#page { margin: 0 auto; width: 980px; padding-top: 34px;}



.demonstrations { float: left; clear: both; width: 100%; margin-bottom: 17px; }
.demonstrations div {
  float: left;
  width: 70px;
  border: 1px solid #797a79;
  height: 30px;
  margin: 0 5px 5px 0;
  background: #dbdcda;
  cursor: pointer;
}
.demonstrations .rightmost { margin-right: 0; }

.resources strong { font-family: "Lucida Sans"; }
