<h1 id="btn">按钮</h1>

   <h3 id="btn-size" style="color:#ef3292">默认按钮样式  不同型号</h3>
   <div class="bs-example">
    <a  class="fw-btn fw-btn-large ">press me</a><br><br>
   {% highlight html %}
    <a  class="fw-btn fw-btn-large ">press me</a>
	{% endhighlight %}
	</div>
	<div class="bs-example">
	 <a  class="fw-btn">press me</a><br><br>
	{% highlight html %}
    <a  class="fw-btn">press me</a>
	{% endhighlight %}
	</div>
	<div class="bs-example">
	<a  class="fw-btn fw-btn-small">press me</a><br><br>
	{% highlight html %}
    <a  class="fw-btn fw-btn-small">press me</a>
	{% endhighlight %}
	</div>
	<div class="bs-example">
	<a  class="fw-btn fw-btn-tiny">press me</a><br><br>
	{% highlight html %}
    <a  class="fw-btn fw-btn-tiny">press me</a>
	{% endhighlight %}
	</div>
    <br/>

   <h3 id="btn-radius" style="color:#ef3292">默认按钮样式  带有圆角的 不同型号的 </h3>
   <div class="bs-example">
    <a  class="fw-btn fw-btn-large  fw-btn-radius">press me</a><br><br>
	{% highlight html %}
   <a  class="fw-btn fw-btn-large  fw-btn-radius">press me</a>
	{% endhighlight %}
	</div>
	<div class="bs-example">
    <a  class="fw-btn fw-btn-radius">press me</a><br><br>
	{% highlight html %}
    <a  class="fw-btn fw-btn-radius">press me</a>
	{% endhighlight %}
	</div>
	<div class="bs-example">
    <a  class="fw-btn fw-btn-small fw-btn-radius">press me</a><br><br>
	{% highlight html %}
    <a  class="fw-btn fw-btn-small fw-btn-radius">press me</a>
	{% endhighlight %}
	</div>
	<div class="bs-example">
    <a  class="fw-btn fw-btn-tiny fw-btn-radius">press me</a><br><br>
	{% highlight html %}
    <a  class="fw-btn fw-btn-tiny fw-btn-radius">press me</a>
	{% endhighlight %}
	</div>
    <br/>
 
   <h3 id="btn-style1" style="color:#ef3292"> 风格一按钮样式  不同型号的</h3>
   <div class="bs-example">
    <a  class="fw-btn fw-btn-success fw-btn-large">press me</a><br><br>
	{% highlight html %}
    <a  class="fw-btn fw-btn-success fw-btn-large">press me</a>
	{% endhighlight %}
	</div>
	<div class="bs-example">
    <a  class="fw-btn fw-btn-success">press me</a><br><br>
	{% highlight html %}
    <a  class="fw-btn fw-btn-success">press me</a>
	{% endhighlight %}
	</div>
	<div class="bs-example">
    <a  class="fw-btn fw-btn-success fw-btn-small ">press me</a><br><br>
	{% highlight html %}
    <a  class="fw-btn fw-btn-success fw-btn-small">press me</a>
	{% endhighlight %}
	</div>
	<div class="bs-example">
    <a  class="fw-btn fw-btn-success fw-btn-tiny">press me</a><br><br>
	{% highlight html %}
    <a  class="fw-btn fw-btn-success fw-btn-tiny">press me</a>
	{% endhighlight %}
	</div>
    <br/>
   
    <h3 id="btn-style2" style="color:#ef3292">风格二按钮样式 不同型号的</h3>
	<div class="bs-example">
    <a  class=" fw-btn fw-btn-primary fw-btn-large ">press me</a></br></br>
	{% highlight html %}
    <a  class=" fw-btn fw-btn-primary fw-btn-large ">press me</a>
	{% endhighlight %}
	</div>
	<div class="bs-example">
    <a  class=" fw-btn fw-btn-primary">press me</a></br></br>
	{% highlight html %}
    <a  class=" fw-btn fw-btn-primary">press me</a>
	{% endhighlight %}
	</div>
	<div class="bs-example">
    <a  class=" fw-btn fw-btn-primary fw-btn-small">press me</a></br></br>
	{% highlight html %}
    <a  class=" fw-btn fw-btn-primary fw-btn-small ">press me</a>
	{% endhighlight %}
	</div>
	<div class="bs-example">
    <a  class=" fw-btn fw-btn-primary fw-btn-tiny ">press me</a></br></br>
	{% highlight html %}
    <a  class=" fw-btn fw-btn-primary fw-btn-tiny ">press me</a>
	{% endhighlight %}
	</div>
    <br/>
            

