 <h1 id="input">输入框</h1>
 <h3 id="input-size" style="color:#ef3292">不同型号的默认输入框</h3>
 <div class="bs-example">
<div class="fw-input">
  <span class="fw-text">字段名：</span>
  <input type="text" class="fw-input-mini " >
</div></br>
{% highlight html %}
  <div class="fw-input">
  <span class="fw-text">字段名：</span>
  <input type="text" class="fw-input-mini " >
</div>
	{% endhighlight %}
</div>
<div class="bs-example">
<div class="fw-input">
  <span class="fw-text">字段名：</span>
  <input type="text" class="fw-input-small " >
</div></br>
{% highlight html %}
 <div class="fw-input">
  <span class="fw-text">字段名：</span>
  <input type="text" class="fw-input-small " >
</div>
	{% endhighlight %}
</div>
<div class="bs-example">
<div class="fw-input">
  <span class="fw-text">字段名：</span>
  <input type="text" class="fw-input-medium" >
</div></br>
{% highlight html %}
  <div class="fw-input">
  <span class="fw-text">字段名：</span>
  <input type="text" class="fw-input-medium" >
</div>
	{% endhighlight %}
</div>
<div class="bs-example">
<div class="fw-input">
  <span class="fw-text">字段名：</span>
  <input type="text" class="fw-input-large" >
</div></br>
{% highlight html %}
<div class="fw-input">
  <span class="fw-text">字段名：</span>
  <input type="text" class="fw-input-large" >
</div>
	{% endhighlight %}
</div>
<div class="bs-example">
<div class="fw-input">
  <span class="fw-text">字段名：</span>
  <input type="text" class="fw-input-xlarge" >
</div></br>
{% highlight html %}
 <div class="fw-input">
  <span class="fw-text">字段名：</span>
  <input type="text" class="fw-input-xlarge" >
</div>
	{% endhighlight %}
</div>

<br />
 <h3 id="input-add" style="color:#ef3292">输入框+后缀文字的</h3>
 <div class="bs-example">
 <div class="fw-input">
  <span class="fw-text">字段名：</span>
  <input type="text" class="fw-input-xlarge" >
  <span class="fw-text">XXXXXX</span>
</div></br>
{% highlight html %}
  <div class="fw-input">
  <span class="fw-text">字段名：</span>
  <input type="text" class="fw-input-xlarge" >
  <span class="fw-text">XXXXXX</span>
	{% endhighlight %}
</div>
 <br />
 <h3 id="input-radius" style="color:#ef3292">带圆角的输入框</h3> 
  <div class="bs-example">
 <div class="fw-input">
  <span class="fw-text">字段名：</span>
  <input type="text" class="fw-input-xlarge fw-btn-radius " >
  <span class="fw-text">XXXXXX</span>
</div></br>
{% highlight html %}
 <div class="fw-input">
  <span class="fw-text">字段名：</span>
  <input type="text" class="fw-input-xlarge fw-btn-radius " >
  <span class="fw-text">XXXXXX</span>
</div>
	{% endhighlight %}
</div>
 <br>
 <h1 id="textarea">文本域</h1>
 <h3 id="input-radius" style="color:#ef3292">不同型号的默认文本域</h3>
 <div class="bs-example">
<div class="fw-textarea">
  <span class="fw-text">字段名：</span>
  <textarea class="fw-textarea-mini "></textarea>
 </div></br>
 {% highlight html %}
 <div class="fw-textarea">
  <span class="fw-text">字段名：</span>
  <textarea class="fw-textarea-mini "></textarea>
 </div>
</div>
	{% endhighlight %}
 </div>

 <div class="bs-example">
<div class="fw-textarea">
  <span class="fw-text">字段名：</span>
   <textarea class="fw-textarea-small" ></textarea>
</div></br>
{% highlight html %}
<div class="fw-textarea">
  <span class="fw-text">字段名：</span>
   <textarea class="fw-textarea-small" ></textarea>
</div>
	{% endhighlight %}
</div>
<div class="bs-example">
<div class="fw-textarea">
  <span class="fw-text">字段名：</span>
  <textarea  class="fw-textarea-medium" ></textarea>
</div></br>
{% highlight html %}
 <div class="fw-textarea">
  <span class="fw-text">字段名：</span>
  <textarea  class="fw-textarea-medium" ></textarea>
</div>
	{% endhighlight %}
</div>
  <br>
 <h1 id="progressbar">进度条</h1>
    <h3 id="progressbar-basic" style="color:#ef3292">进度条-基本实例</h3>
	<div class="bs-example">
       <div class="fw-progress">
          <div class="fw-progress-bar"  style="width:40%;">
            
          </div>
	  </div></br>
	  {% highlight html %}
    <div class="fw-progress">
         <div class="fw-progress-bar"  style="width:40%;">
            
         </div>
	</div>
	{% endhighlight %}
	  </div>
    <br/>
    <h3 id="progressbar-tag" style="color:#ef3292">进度条-带有提示标签的进度条</h3>
	<div class="bs-example">
    <div class="fw-progress">
      <div class="fw-progress-bar"  style="width: 50%;">
              60%
      </div>
    </div>
	  {% highlight html %}
    <div class="fw-progress">
         <div class="fw-progress-bar"  style="width: 50%;">
              60%
         </div>
    </div>
	{% endhighlight %}
	</div>
    
    <h3 id="progressbar-case" style="color:#ef3292">进度条-根据情境变化效果</h3>
    
	<div class="bs-example">
	<!-- 普通进度提示-->
	<h4>普通进度提示</h4>
    <div class="fw-progress">
        <div class="fw-progress-bar fw-progress-bar-info"   style="width: 70%">
       	 70%
        </div>
    </div>
	{% highlight html %}
    <div class="fw-progress">
        <div class="fw-progress-bar fw-progress-bar-info"   style="width: 70%">
       	     70%
        </div>
    </div>
	{% endhighlight %}
	<!-- 成功进度提示-->
	<h4>成功进度提示</h4>
    <div class="fw-progress">
        <div class="fw-progress-bar fw-progress-bar-success" style="width: 100%">
             100%
        </div>
   
	</div>
	{% highlight html %}
    <div class="bs-example">
    <div class="fw-progress">
        <div class="fw-progress-bar fw-progress-bar-success" style="width: 100%">
             100%
        </div>
	</div>
	{% endhighlight %}
    
    <!-- 警示-->
	<h4>警示</h4>
    <div class="fw-progress">
        <div class="fw-progress-bar fw-progress-bar-warning"  style="width: 80%">
             80%
        </div>
    </div>
	{% highlight html %}
    <div class="fw-progress">
        <div class="fw-progress-bar fw-progress-bar-warning"  style="width: 80%">
             80%
        </div>
    </div>
	{% endhighlight %}
	
	 </div>
	
    

