
<head>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/tipped.css" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/tipped-style.css" />
</head>


  <h1 id="tipped">自定义Tip组件</h1>
  <h2 id="tipped-intro">示例</h2>
  <p>以下是各种不同皮肤的样式
  </p>
  <div class='demonstrations'>
    <div id='demo_skins_dark' title="This is the default skin"><!-- [] --></div>
    <div id='demo_skins_black' title="The same skin without a radius"><!-- [] --></div>
    <div id='demo_skins_light' title="A light variant"><!-- [] --></div>
    
    <div id='demo_skins_white' title="White is probably the most popular skin"><!-- [] --></div>
    <div id='demo_skins_gray' title="Gray works with anything"><!-- [] --></div>
    <div id='demo_skins_yellow' title="The classic yellow tooltip"><!-- [] --></div>
    
    <div id='demo_skins_blue'><!-- [] --></div>
    <div id='demo_skins_red'><!-- [] --></div>
    <div id='demo_skins_green'><!-- [] --></div>
    
    <div id='demo_skins_tiny' class='rightmost'><!-- [] --></div>
  </div>
  <h2 id="tipped-param">参数</h2>
  <p>设置弹出tip的样式，你都可以通过设置不同的<font style="color:#c7254e">id</font>来进行控制。</p>
  
  <table class="table table-bordered table-striped">
      <thead>
       <tr>
         <th style="width: 100px;">名称</th>
         <th style="width: 50px;">类型</th>
         <th style="width: 50px;">默认值</th>
         <th>描述</th>
       </tr>
      </thead>
      <tbody>
       <tr>
         <td>id</td>
         <td>字符串<code>'string'</code></td>
         <td>
demo_skins_
设置不同皮肤的tip&nbsp;&nbsp;&nbsp;&nbsp;
"dark"
"black",
"light",
"white",
"gray",
"yellow",
"blue",&nbsp;&nbsp;&nbsp;&nbsp;
"red",
"green",
"tiny"
</td>
         <td>id控制tip的颜色</td>
       </tr>
      </tbody>
    </table>
  




